In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd
from sqlalchemy import Column, Integer, String, Float
import sqlite3

In [16]:
# Read in CSVs
measurement = pd.read_csv("clean_hawaii_measurements.csv")
station = pd.read_csv("clean_hawaii_stations.csv")
measurement = measurement.reset_index()
measurement.rename(columns={'index':'id'}, inplace=True)
measurement.tail()

          id      station        date  prcp  tobs
19545  19545  USC00516128  2017-08-19  0.09    71
19546  19546  USC00516128  2017-08-20  0.00    78
19547  19547  USC00516128  2017-08-21  0.56    76
19548  19548  USC00516128  2017-08-22  0.50    76
19549  19549  USC00516128  2017-08-23  0.45    76

In [5]:
# Create Classes
class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(String(255))
    tobs = Column(String(255))
    
class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(String(255))
    longitude = Column(String(255))
    elevation = Column(String(255))

In [6]:
# Create Database Connection
engine = create_engine('sqlite:///hawaii.sqlite.db')
conn = engine.connect()

In [7]:
# Create a "Metadata" Layer That Abstracts our SQL Database
Base.metadata.create_all(engine)

In [8]:
# Create a Session Object to Connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [14]:
# To_SQL adding info to DB
station.to_sql('stations',
                engine,
                flavor=None,
                if_exists='replace')

In [13]:
# Load data into tables
res = conn.execute("SELECT name FROM sqlite_master WHERE type = 'table' ORDER BY name")
for name in res:
    print(name[0])

measurements
stations

In [15]:
session.commit()

In [ ]:
# Query to check tables